<div class="sidebar-inner">
    <div class="sidebar-logo">
        <div class="peers ai-c fxw-nw">
            <div class="peer peer-greed"><a class="sidebar-link td-n" href="/admin/booking">
                    <div class="peers ai-c fxw-nw">
                        <div class="peer">
                            <div class="logo"></div>
                        </div>
                        <div class="peer peer-greed">
                            <h5 class="lh-1 mB-0 logo-text">ATHENA NAILS</h5>
                        </div>
                    </div>
                </a></div>
            <div class="peer">
                <div class="mobile-toggle sidebar-toggle"><a href="" class="td-n"><i
                            class="ti-arrow-circle-left"></i></a>
                </div>
            </div>
        </div>
    </div>
    <ul class="sidebar-menu scrollable pos-r">
        <li class="nav-item mT-30 active"><a class="sidebar-link" href="/admin/booking"><span class="icon-holder"><i
                        class="c-blue-500 ti-calendar"></i> </span><span class="title">Manage Schedule Book</span></a>
        </li>
        <li class="nav-item"><a class="sidebar-link" href="/admin/services"><span class="icon-holder"><i
                        class="c-yellow-500 ti-package"></i> </span><span class="title">Manage Service</span></a></li>
        <li class="nav-item dropdown"><a class="dropdown-toggle" href="javascript:void(0);"><span class="icon-holder"><i
                        class="c-orange-500 ti-layout-list-thumb"></i> </span><span class="title">Services Detail</span> <span
                    class="arrow"><i class="ti-angle-right"></i></span></a>
            <ul class="dropdown-menu">
                <li><a class="sidebar-link" href="#">Ori Nail Care</a></li>
                <li><a class="sidebar-link" href="#">Gel Nail</a></li>
                <li><a class="sidebar-link" href="#">SNS Dipping Powder</a></li>
                <li><a class="sidebar-link" href="#">Addition Service</a></li>
            </ul>
        </li>
        <li class="nav-item"><a class="sidebar-link" href="email.html"><span class="icon-holder"><i
                        class="c-brown-500 ti-email"></i> </span><span class="title">Email</span></a></li>
    </ul>
</div>