<section class="bg-title-page p-t-4p-b-0 flex-col-c-m" style="background-image: url(img/img_service/bg_title.jpg);">
</section>
<section>
  <div class="templatemo-container">
    <div class="col-lg-0 black-bg left-container">
      <div class="tm-left-inner-container">
					<div class="leftbar p-r-20 p-r-0-sm">
						<ul class="p-b-0">
            <h1 class="l-text1 t-center p-t-20">services</h1>
							<li class="p-t-0 p-l-10 hov3">
								<a href="/services" class="s-text13 active1">
									<strong>Nail Polish</strong>
								</a><i class="fa fa-home fa-medium"></i>
							</li>

							<li class="p-t-4 p-l-10 hov3">
								<a href="/aboutus" class="s-text13">
									<strong>Head Shampoo</strong>
								</a><i class="fa fa-home fa-medium"></i>
							</li>

							<li class="p-t-4 p-l-10 hov3">
								<a href="./service_h.html" class="s-text13">
									<strong>Head Shampoo</strong>
								</a><i class="fa fa-home fa-medium"></i>
							</li>

							<li class="p-t-4 p-l-10 hov3">
								<a href="#" class="s-text13">
									<strong>Head Shampoo</strong>
								</a><i class="fa fa-home fa-medium"></i>
							</li>

							<li class="p-t-4 p-l-10 hov3">
								<a href="#" class="s-text13">
									<strong>Head Shampoo</strong>
								</a><i class="fa fa-home fa-medium"></i>
							</li>

							<li class="p-t-4 p-l-10 hov3">
									<a href="#" class="s-text13">
										<strong>Head Shampoo</strong>
									</a><i class="fa fa-home fa-medium"></i>
							</li>

							<li class="p-t-4 p-l-10 hov3">
									<a href="#" class="s-text13">
										<strong>Head Shampoo</strong>
									</a><i class="fa fa-home fa-medium"></i>
							</li>

							<li class="p-t-4 p-l-10 hov3">
									<a href="#" class="s-text13">
									<strong>Sns Pearl Powder Change</strong>
									</a><i class="fa fa-home fa-medium"></i>
								</li>
						</ul>
					</div>
      </div>
    </div>
    <div class="col-lg-7 white-bg right-container">
      <div class="tm-right-inner-container">
        <h1 class="l-text2 t-center">Details</h1>
        <div class="templatemo-item templatemo-testimonial">
          <div class="templatemo-border-left">
            <img src="img/img_service/sv_1.png" alt="Testimonial 1" class="img-circle img-thumbnail">
            <p class="text-left"><strong>Polish Change</strong></p>
            <p><i class="fa fa-quote-left fa-medium"></i>
              Cut, shape and  Regular Polish
            <p class="text-right"><strong>(4usd) 90,000VND</strong></p>
            </p>
          </div>
        </div>
        <div class="templatemo-item templatemo-testimonial">
          <div class="templatemo-border-left">
            <p class="text-left"><strong>Spa Package</strong></p>
            <p><i class="fa fa-quote-left fa-medium"></i>
              Cut, Shape, Cuticle Care, Callus Removal, Paraffin hot wax, Soothing massage with creaming lotion, ( hand, neck & shoulder massage) + polish.
            <p class="text-right"><strong>Mani (32usd) 490,000vnd</strong></p>
            <p class="text-right"><strong>Pedi (23usd) 450,000vnd</strong></p>
            </p>
          </div>
        </div>
        <div class="templatemo-item templatemo-testimonial">
          <div class="templatemo-border-left">
            <p class="text-left"><strong>Regular Pedicure</strong></p>
            <p><i class="fa fa-quote-left fa-medium"></i>
              Foot Soak, Cut, Shape, Heels work w pumice stone, Massage with creaming lotion + reg polish.
            <p class="text-right"><strong>(15usd)320,000 VND</strong></p>
            </p>
          </div>
        </div>
         <div class="templatemo-item templatemo-testimonial">
          <div class="templatemo-border-left">
                        <p class="text-left"><strong>Polish Change</strong></p>
            <p><i class="fa fa-quote-left fa-medium"></i>
              Cut, shape and  Regular Polish
            <p class="text-right"><strong>(4usd) 90,000VND</strong></p>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>