<footer class="bdT ta-c p-30 lh-0 fsz-sm c-grey-600"><span>Copyright © 2019 Designed by <a href="https://www.facebook.com/QuangTrieu1102"
            target="_blank" title="Colorlib">Donald Trieu</a>. All rights
        reserved.</span>
</footer>